.ample-editor.readonly {
  width: 100%;
  margin: 0 auto;
  padding: 35px 20px 25px;
  border-top: 1px solid #e0e4eb; /* $default-border-color */
  line-height: 1.5;
}

@media only screen and (min-width: 600px) {
  .ample-editor.readonly {
    width: 95%;
    max-width: 750px;
    padding-left: 0;
    padding-right: 0;
  }
}

.ample-editor.readonly .ProseMirror {
  font-family: Georgia, Helvetica, Arial, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14.5px;
  line-height: 1.5;
  white-space: normal;
}

@media only screen and (min-width: 600px) {
  .ample-editor.readonly .ProseMirror {
    font-size: 14.5px;
  }
}

.ample-editor.readonly h1, h2, h3, h4, h1.heading, h2.heading, h3.heading, h4.heading {
  font-family: Roboto, Helvetica, Arial, "Helvetica Neue", sans-serif;
  font-weight: 400;
  letter-spacing: -0.022em;
  line-height: 1.18;
  color: #f9fbfc;
}

.ample-editor.readonly h1, h1.heading {
  font-size: 24px;
}

.ample-editor.readonly h2, h2.heading {
  font-size: 21px;
}

.ample-editor.readonly h3, h3.heading {
  font-size: 18px;
}

.ample-editor.readonly h4, h4.heading {
  font-size: 16px;
}

.ample-editor.readonly b, strong {
  font-weight: 600;
}

.ample-editor.readonly p, .paragraph {
  margin: 0;
  letter-spacing: -0.004em;
}

.ample-editor.readonly blockquote {
  border-left: 3px solid #e0e4eb;
  padding-left: 20px;
  color: #b4bfcc;
}

.ample-editor.readonly ul li {
  display: block;
  margin-top: 1.05em;
  margin-left: 15px;
  margin-bottom: -0.46em;
}

.ample-editor.readonly a.link {
  display: inline;
  align-items: center;
}

.ample-editor.readonly a.link > span {
  margin-right: 0;
}

.ample-editor.readonly a.link > .icon {
  position: relative;
  top: 5px;
  height: 22px;
  margin-left: 0;
}

.ample-editor.readonly .promo-banner {
  width: 100%;
  margin: 0 auto;
  padding: 35px 20px 25px;
  line-height: 1.5;
}

@media only screen and (min-width: 600px) {
  .promo-banner {
    width: 95%;
    margin: 0 auto;
    max-width: 750px;
  }
}

/**********
    Dark theme modifications; remove if using light background.
***********/

/* Light text */
.ample-editor.readonly .ProseMirror {
  color: #f9fbfc;  
}

/* Light text for headings */
.ample-editor .heading > a:not(.link) {
  color: #f9fbfc; 
}

/* Dark background for RFs */
.ample-editor .rich-footnote {
    background-color: #272f35 
}

/* Dark-themed highlighted text */
.ample-editor .ProseMirror mark {
    color: #f9fbfc; 
    background-color: rgba(255, 178, 56, 0.32);
}

/* Dark background for task items */
.dark .ample-editor .ProseMirror .check-list-item .row-wrapper {
    background-color: #21282e;
    border-left: 4px solid #626d7a;
}

/* Dark background for code blocks */
.ample-editor .ProseMirror .code-block {
    border: 1px solid #2f3740;
    background-color: #272f35;
}

/* Dark background for task items on hover */
.ample-editor .ProseMirror .check-list-item:hover:not(.expanded) .row-wrapper {
    background-color: #272f35;
}