---
import Layout from "../layouts/Layout.astro";
import Navgation from "../components/navigation.astro";
import Footer from "../components/footer.astro";
---
<Layout title="Light Note">
    <Navgation />
      <div class="container" id="post"></div>
    <Footer />
</Layout>

<script>
    let giscusTheme = localStorage.getItem("giscu-theme");
    let giscusAttributes = {
      "src": "https://giscus.app/client.js",
      "data-repo": "versun/Tiny-Website-by-Astro",
      "data-repo-id": "R_kgDOH8gn5w",
      "data-category": "LightNote",
      "data-category-id": "DIC_kwDOH8gn584CRQOG",
      "data-mapping": "title",
      "data-strict":"0",
      "data-reactions-enabled":"1",
      "data-emit-metadata":"0",
      "data-input-position":"top",
      "data-theme":giscusTheme,
      "data-lang":"en",
      "crossorigin": "anonymous",
      "async": "",
    };
    
    let giscusScript = document.createElement("script");
    Object.entries(giscusAttributes).forEach(([key, value]) => giscusScript.setAttribute(key, value));
    document.getElementById('post').appendChild(giscusScript);
  </script>
