---
---
<nav class="tabs mb-4 has-background-warning">
    
    <ul>
        <li><a class="has-text-black navbar-item" href="/">Home</a></li>
        <li><a class="has-text-black navbar-item" href="/project">Project</a></li>
        <li><a class="has-text-black navbar-item" href="/blog">Blog</a></li>
    </ul>

</nav>