---
import SubPage from "../../layouts/SubPage.astro";
---
<SubPage title="Tool" post_type="">
  <ul>
      <li>
        <a href="/tool/template_auto_replace">Template Auto Replace</a>
      </li>
  </ul>
</SubPage>


