---
import Layout from "../../layouts/Layout.astro";
import Navgation from "../../components/navigation.astro";
import Footer from "../../components/footer.astro";
---
<Layout title="My Tool">
  <Navgation />
    <section>
      <div class="container content">
        <h1 class="title">My tool</h1>
        <ul>
            <li>
              <a href="/tool/template_auto_replace">Template Auto Replace</a>
            </li>
        </ul>
      </div>
    </section>
  <Footer />
</Layout>