---
import Navigation from '../components/navigation.astro';
import Footer from '../components/footer.astro';
import Layout from './Layout.astro';
import Giscus from '../components/giscus.astro';
export interface Props {
	content:{
  title: string;
  };
}

const {
  content: { title, }
  } = Astro.props;
---

<Layout title={title}>

  <Navigation />
  <section>
    <div class="container content" id="post">
      <h2 class="subtitle">{title}</h2>
      <slot/>
    </div>
  </section>
  <Giscus />
  <Footer />
</Layout>